<div id="policy">
  <div class="policy-item">
    <div class="text-center">
      <img src="assets/images/free_returns.svg" />
    </div>
    <div class="item-wrapper">
      <span class="item-title">FREE RETURNS</span>
      <span class="item-desc">Get free returns on eligible items</span>
    </div>
  </div>
  <div class="policy-item">
    <div class="text-center">
      <img src="assets/images/trusted_shipping.svg" />
    </div>
    <div class="item-wrapper">
      <span class="item-title">TRUSTED SHIPPING</span>
      <span class="item-desc">Free shipping when you spend EGP 200 and above on express
        items</span>
    </div>
  </div>
  <div class="policy-item">
    <div class="text-center">
      <img src="assets/images/secure.svg" />
    </div>
    <div class="item-wrapper">
      <span class="item-title">SECURE SHOPPING</span>
      <span class="item-desc">Your data is always protected</span>
    </div>
  </div>
</div>